.jumbotron {
    background-color: greenyellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: papayawhip;
    margin-bottom: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
